<table class="table text-center">
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Compras</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plant of plants" [ngClass]="{'clearance': plant.clearance}">
      <td><img [src]="plant.image" [alt]="plant.name" srcset="" /></td>
      <td>{{ plant.name }}</td>
      <td>{{ plant.type }}</td>
      <td>{{ plant.price | currency}}</td>
      <span class="btn btn-danger" *ngIf="plant.stock == 0">SIN STOCK</span>
      <app-input-number [(quantity)]="plant.quantity" [max]="plant.stock" (maxReached)="maxReached($event)"
        *ngIf="plant.stock"></app-input-number>
    </tr>

  </tbody>
</table>
